{% extends 'base.html.twig' %} {% block title %} Edition d'une annonce {% endblock %} {% form_theme form _self %} {% block body %}

<div class="container form-1">
    <h1 class="title-h1">Modifier l'annonce : {{ad.libelle}}</h1>

    {{ form_start(form) }} {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications.</button>
    <a href="{{ path('liste_articles') }}" class="btn btn-primary">
            Annuler
        </a> {{ form_end(form) }}
</div>
{% endblock %} {% block javascripts %}

<script src="/js/ad.js"></script>

{% endblock %}